<template name="new_test_row">
                <tr>
                <td>New Test</td>
                <td><input name="pin" class="input-sm" type="text"/></td>
                <td><input class="input-sm" type="text"/></td>
                <td class="bg-success">
                    <select class="form-control">
                        <option></option>
                        <option>V</option>
                        <option>I</option>
                    </select>
                </td>
                <td class="bg-success"><input class="input-sm" type="text"/></td>
                <td class="bg-success"><input class="input-sm" type="text"/></td>
                <td class="bg-warning">
                    <select class="form-control">
                        <option></option>
                        <option>V</option>
                        <option>I</option>
                    </select>
                </td>
                <td class="bg-warning"><input class="input-sm" type="text"/></td>
                <td class="bg-warning"><input class="input-sm" type="text"/></td>
                <td class="bg-info">
                    <select class="form-control">
                        <option></option>
                        <option>V</option>
                        <option>I</option>
                    </select>
                </td>
                <td class="bg-info"><input class="input-sm" type="text"/></td>
                <td class="bg-info"><input class="input-sm" type="text"/></td>
                <td class="bg-info"><input class="input-sm" type="text"/></td>
                <td class="bg-info"><input class="input-sm" type="text"/></td>
            </tr>
</template>