<template name="new_test_row">
    <tr>
        <td class="text-center">New</td>
        <td><input name="pad" class="input-sm test_item_input" type="text"/></td>
        <td class="bg-success">
            <select name="source_type" class="form-control">
                <option></option>
                <option>V</option>
                <option>I</option>
            </select>
        </td>
        <td class="bg-success"><input name="source_value" class="input-sm test_item_input" type="text"/></td>
        <td class="bg-success"><input name="source_unit" class="input-sm test_item_input" type="text"/></td>
        <td class="bg-warning">
            <select name="compliance_type" class="form-control">
                <option></option>
                <option>V</option>
                <option>I</option>
            </select>
        </td>
        <td class="bg-warning"><input name="compliance_value" class="input-sm test_item_input" type="text"/></td>
        <td class="bg-warning"><input name="compliance_unit" class="input-sm test_item_input" type="text"/></td>
        <td class="bg-info">
            <select name="measure_type" class="form-control">
                <option></option>
                <option>V</option>
                <option>I</option>
            </select>
        </td>
        <td class="bg-info"><input name="measure_min" class="input-sm test_item_input" type="text"/></td>
        <td class="bg-info"><input name="measure_typ" class="input-sm test_item_input" type="text"/></td>
        <td class="bg-info"><input name="measure_max" class="input-sm test_item_input" type="text"/></td>
        <td class="bg-info"><input name="measure_unit" class="input-sm test_item_input" type="text"/></td>
    </tr>
</template>