<template name="testgroup">
    <!-- Test Group Title -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="h4"><span class="text-primary">{{this.matcher._selector.chipName}}</span> {{this.matcher._selector.testgroupName}}</strong> <small class="text-muted">[Rev. {{this.matcher._selector.revision}}]</small>
            <button type="button" class="btn btn-warning btn-xs export-button pull-right">Export</button>
        </div>

        <ul class="list-group">
            {{#each notes}}
                {{> note}}
            {{/each}}
            <li class="list-group-item">
                <button type="button" class="btn btn-link btn-primary btn-sm" data-toggle="modal" data-target=".add-note-modal">
                    Add Note
                </button>
            </li>
        </ul>

        <!-- This will only show when above button is clicked. -->
        <div class="modal fade add-note-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    {{> addNoteModal currentTestgroup=currentTestgroup}} <!-- pass the current testgroup -->
                </div>
            </div>
        </div>
    </div>

    <!-- Test Group Global Setup -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="h4">Setup</strong>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Pad</th>
                        <th class="text-center">Source</th>
                        <th class="text-center">Value</th>
                        <th class="text-center">Unit</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {{#each setups}}
                        {{> setup}}
                    {{/each}}
                    
                    {{> new_setup_row}}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Tests Table -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="h4">Tests</strong>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-condensed table-bordered">
                <!-- Table Header -->
                <thead>
                <tr>
                    <th class="text-center">Number</th>
                    <th class="text-center">Pad</th>
                    <th class="text-center bg-success">Source</th>
                    <th class="text-center bg-success">Value</th>
                    <th class="text-center bg-success">Unit</th>
                    <th class="text-center bg-warning">Compl</th>
                    <th class="text-center bg-warning">Value</th>
                    <th class="text-center bg-warning">Unit</th>
                    <th class="text-center bg-info">Measure</th>
                    <th class="text-center bg-info">MIN</th>
                    <th class="text-center bg-info">TYP</th>
                    <th class="text-center bg-info">MAX</th>
                    <th class="text-center bg-info">Unit</th>
                    <th><input type="checkbox" checked="{{allRowsSelected}}" class="select-all-rows"/></th>
                </tr>
                </thead>

                <!-- Table Body -->
                <tbody>
                {{#each this}}
                    {{> testitem}}
                {{/each}}

                <!-- This is an example row, only show when table is empty -->
                {{#if showExampleRow}}
                    <tr>
                        <td class="text-center">Example</td>
                        <td class="text-center">CATHODE</td>
                        <td class="text-center bg-success">I</td>
                        <td class="text-center bg-success">1</td>
                        <td class="text-center bg-success">mA</td>
                        <td class="text-center bg-warning">V</td>
                        <td class="text-center bg-warning">3</td>
                        <td class="text-center bg-warning">V</td>
                        <td class="text-center bg-info">V</td>
                        <td class="text-center bg-info">1.5</td>
                        <td class="text-center bg-info">1.75</td>
                        <td class="text-center bg-info">2</td>
                        <td class="text-center bg-info">V</td>
                        <td><span class="glyphicon glyphicon-info-sign example-info"></span></td>
                    </tr>
                {{/if}}

                <!-- Always put an empty row for inserting -->
                {{> new_test_row}}
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Dangerous Actions
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <button type="button" class="btn btn-danger btn-sm delete-testgroup-button">DELETE TEST GROUP</button>
                </div>
            </div>
        </div>
    </div>
    
</template>

<!-- ****************** Partials ******************** -->
<template name="addNoteModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <p class="modal-title h4">Add Notes</p>
    </div>
    <div class="modal-body">
        <textarea class="form-control note-textarea" rows="3"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary note-submit-button">Submit</button>
    </div>
</template>