<template name="testgroup">
    <!-- Test Group Title -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="h2">{{this.matcher._selector.chipName}} {{this.matcher._selector.testgroupName}}</strong>
            <button type="button" class="btn btn-primary export-button pull-right">Export</button>
        </div>
    </div>

    <!-- Test Group Global Setup -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="h4">Setup</strong>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Pad</th>
                        <th class="text-center">Source</th>
                        <th class="text-center">Value</th>
                        <th class="text-center">Unit</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each setups}}
                        <tr>
                            <td class="text-center">{{pad}}</td>
                            <td class="text-center">{{source_type}}</td>
                            <td class="text-center">{{source_value}}</td>
                            <td class="text-center">{{source_unit}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Tests Table -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="h4">Tests</strong>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-condensed table-bordered">
                <!-- Table Header -->
                <thead>
                <tr>
                    <th class="text-center">Number</th>
                    <th class="text-center">Pad</th>
                    <th class="text-center bg-success">Source</th>
                    <th class="text-center bg-success">Value</th>
                    <th class="text-center bg-success">Unit</th>
                    <th class="text-center bg-warning">Compl</th>
                    <th class="text-center bg-warning">Value</th>
                    <th class="text-center bg-warning">Unit</th>
                    <th class="text-center bg-info">Measure</th>
                    <th class="text-center bg-info">MIN</th>
                    <th class="text-center bg-info">TYP</th>
                    <th class="text-center bg-info">MAX</th>
                    <th class="text-center bg-info">Unit</th>
                </tr>
                </thead>

                <!-- Table Body -->
                <tbody>
                {{#each this}}
                    {{> testitem}}
                {{/each}}

                <!-- This is an example row, only show when table is empty -->
                {{#if showExampleRow}}
                    <tr>
                        <td class="text-center">Example</td>
                        <td class="text-center">CATHODE</td>
                        <td class="text-center bg-success">I</td>
                        <td class="text-center bg-success">1</td>
                        <td class="text-center bg-success">mA</td>
                        <td class="text-center bg-warning">V</td>
                        <td class="text-center bg-warning">3</td>
                        <td class="text-center bg-warning">V</td>
                        <td class="text-center bg-info">V</td>
                        <td class="text-center bg-info">1.5</td>
                        <td class="text-center bg-info">1.75</td>
                        <td class="text-center bg-info">2</td>
                        <td class="text-center bg-info">V</td>
                        <td><span class="glyphicon glyphicon-info-sign example-info"></span></td>
                    </tr>
                {{/if}}

                <!-- Always put an empty row for inserting -->
                {{> new_test_row}}
                </tbody>

            </table>
        </div>
    </div>

</template>
