<template name="testgroup">
    <div class="table-responsive">
        <table class="table table-hover table-condensed table-bordered">
            <!-- Table Header -->
            <thead>
                <tr>
                    <th>Number</th>
                    <th>PIN</th>
                    <th>Resource</th>
                    <th class="bg-success">Source</th>
                    <th class="bg-success">Value</th>
                    <th class="bg-success">Unit</th>
                    <th class="bg-warning">Compl</th>
                    <th class="bg-warning">Value</th>
                    <th class="bg-warning">Unit</th>
                    <th class="bg-info">Measure</th>
                    <th class="bg-info">MIN</th>
                    <th class="bg-info">TYP</th>
                    <th class="bg-info">MAX</th>
                    <th class="bg-info">Unit</th>
                </tr>
            </thead>

            <!-- Table Body -->
            <tbody>
            <tr>
                <td>1</td>
                <td>CATHODE</td>
                <td>DIO2</td>
                <td class="bg-success">V</td>
                <td class="bg-success">0.1</td>
                <td class="bg-success">V</td>
                <td class="bg-warning">V</td>
                <td class="bg-warning">0.1</td>
                <td class="bg-warning">mA</td>
                <td class="bg-info">V</td>
                <td class="bg-info">0.3</td>
                <td class="bg-info">0.65</td>
                <td class="bg-info">0.95</td>
                <td class="bg-info">V</td>
            </tr>

            <tr>
                <td>2</td>
                <td>ANODE</td>
                <td>DIO2</td>
                <td class="bg-success">V</td>
                <td class="bg-success">0.1</td>
                <td class="bg-success">V</td>
                <td class="bg-warning">V</td>
                <td class="bg-warning">0.1</td>
                <td class="bg-warning">mA</td>
                <td class="bg-info">V</td>
                <td class="bg-info">0.3</td>
                <td class="bg-info">0.65</td>
                <td class="bg-info">0.95</td>
                <td class="bg-info">V</td>
            </tr>

            <!-- Always put an empty row for inserting -->
            <tr>
                <td></td>
                <td><input class="input-sm" type="text"/></td>
                <td><input class="input-sm" type="text"/></td>
                <td class="bg-success">
                    <select class="form-control">
                        <option></option>
                        <option>V</option>
                        <option>I</option>
                    </select>
                </td>
                <td class="bg-success"><input class="input-sm" type="text"/></td>
                <td class="bg-success"><input class="input-sm" type="text"/></td>
                <td class="bg-warning">
                    <select class="form-control">
                        <option></option>
                        <option>V</option>
                        <option>I</option>
                    </select>
                </td>
                <td class="bg-warning"><input class="input-sm" type="text"/></td>
                <td class="bg-warning"><input class="input-sm" type="text"/></td>
                <td class="bg-info">
                    <select class="form-control">
                        <option></option>
                        <option>V</option>
                        <option>I</option>
                    </select>
                </td>
                <td class="bg-info"><input class="input-sm" type="text"/></td>
                <td class="bg-info"><input class="input-sm" type="text"/></td>
                <td class="bg-info"><input class="input-sm" type="text"/></td>
                <td class="bg-info"><input class="input-sm" type="text"/></td>
            </tr>
            </tbody>

        </table>
    </div>
</template>
