<template name="padsList">
    <div class="table-responsive">
        <h1>These are all the pads</h1>
        <table class="table table-hover table-condensed table-bordered">
            <!-- Table Header -->
            <thead>
                <tr>
                    <th>Pad#</th>
                    <th>Name</th>
                    <th>Type</th>
                </tr>
            </thead>

            <!-- Table Body -->
            <tbody>
                <!-- TODO: A hacky way to let spreadsheet-to-mongo package callback to know the chipName -->
                {{setChipNameInSession}}
                
                <!-- the 'data' context from the router is 'this' in template helper -->
                {{#each this}}
                    {{> pad}}
                {{/each}}

                <!-- Example Row -->
                <tr>
                    <td class="bg-info">Example</td>
                    <td class="bg-info">AMON</td>
                    <td class="bg-info">DC</td>
                </tr>

                <!-- Pads List Import Form -->
            </tbody>

        </table>
        
        <div>
            {{> spreadsheetToMongodb__form 'padsInputForm' }}
        </div>
    </div>
</template>