<template name="padsList">
    <div class="table-responsive">
        <h1>Pin List</h1>
        <table class="table table-hover table-condensed table-bordered">
            <!-- Table Header -->
            <thead>
                <tr>
                    <th>Pad#</th>
                    <th>Name</th>
                    <th>Type</th>
                </tr>
            </thead>

            <!-- Table Body -->
            <tbody>
                <!-- TODO: A hacky way to let spreadsheet-to-mongo package callback to know the chipName -->
                {{setChipNameInSession}}
                
                <!-- the 'data' context from the router is 'this' in template helper -->
                {{#each this}}
                    {{> pad}}
                {{/each}}

                <!-- Example Row
                {{#if showExampleRow}}
                <tr>
                    <td class="bg-info">1</td>
                    <td class="bg-info">AMON</td>
                    <td class="bg-info">DC</td>
                </tr>
                {{/if}}
                -->
            </tbody>

        </table>

        <div class="well">
            <p>Copy and paste the pin list table from Excel into the following box. <span class="text-danger">Do NOT COPY the table header!</span></p>
            <p>The table must have the following columns, in such order.</p>
            <p>If you need to make changes, modify the table in Excel and paste in the box again.</p>
        </div>
        <!-- Pads List Import Form -->
        {{#if isVersionZero}}
        <div>
            {{> spreadsheetToMongodb__form 'padsInputForm' }}
        </div>
        {{/if}}
    </div>
</template>