<template name="registersList">
    <div class="table-responsive">
        <h1>Analog Control Register Table</h1>
        <table class="table table-hover table-condensed table-bordered">
            <!-- Table Header -->
            <thead>
                <tr>
                    <th>Analog Control Name</th>
                    <th>Size</th>
                    <th>Description</th>
                </tr>
            </thead>

            <!-- Table Body -->
            <tbody>
                <!-- TODO: A hacky way to let spreadsheet-to-mongo package callback to know the chipName -->
                {{setChipNameInSession}}
                
                <!-- the 'data' context from the router is 'this' in template helper -->
                {{#each this}}
                    {{> register}}
                {{/each}}

            </tbody>

        </table>

        <div class="well">
            <p>Copy and paste the register table from Excel into the following box. <span class="text-danger">Do NOT COPY the table header!</span></p>
            <p>The table must have the following columns, in such order.</p>
            <p>If you need to make changes, modify the table in Excel and paste in the box again.</p>
        </div>

        <!-- Pads List Import Form -->
        {{#if isVersionZero}}
        <div>
            {{> spreadsheetToMongodb__form 'registersInputForm' }}
        </div>
        {{/if}}
    </div>
</template>