<!-- Partials within this template, their helper methods are in the same .js file with the parents template -->
<!-- TODO: These partials could be used by other testgroup template as well -->
<template name="editable_cell">
        {{#if cellIsEditing this}}
            <!-- chipName is used by autocomlete to filter -->
            {{> editing_cell value=value cell_name=cell_name object_id=object_id collection=collection chipName=chipName}}
        {{else}}
            <span {{cellAttributes cell_name}}>{{value}}</span>
        {{/if}}
</template>

<template name="editing_cell">
    {{#if cellNameIsType cell_name}}
        <select class="form-control selecting-cell get-cell-value" value="{{value}}" name={{cell_name}}>
            <option></option>
            <option {{checkOptionSelection value "V"}}>V</option>
            <option {{checkOptionSelection value "I"}}>I</option>
        </select>
    {{else}}
        {{#if cellNameIs cell_name "pad2"}}
            {{> inputAutocomplete
                value=value
                cell_name=cell_name
                object_id=object_id
                collection=collection
                chipName=chipName
                settings=my_settings
                class="input-sm text-center editing-cell get-cell-value"}}
        {{else}}
            {{#if cellNameIs cell_name "pad"}}
                {{> inputAutocomplete
                        value=value
                        cell_name=cell_name
                        object_id=object_id
                        collection=collection
                        chipName=chipName
                        settings=my_settings
                        class="input-sm text-center editing-cell get-cell-value"}}
            {{else}}
                {{#if cellNameIs cell_name "note_text"}}
                    <textarea class="form-control note-editing-textarea get-cell-value" rows="3" value="{{value}}"></textarea>
                    <br />
                    <button type="button" class="btn btn-default btn-xs note-update-button">Update</button>
                    <button type="button" class="btn btn-default btn-xs note-cancel-button">Cancel</button>
                    <button type="button" class="pull-right btn btn-danger btn-xs note-delete-button">Delete</button>
                {{else}}
                    <input class="input-sm text-center editing-cell get-cell-value" name={{cell_name}} value="{{value}}" type="text" />
                {{/if}}
            {{/if}}
        {{/if}}
    {{/if}}
</template>