<template name="testplanPage">
    <!-- Information Panel -->
    <div class="panel panel-default">
        <!-- Panel Heading -->
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-10">
                    <strong class="h2"><span class="text-primary">{{chipName}}</span> Test Plan</strong>
                </div>
                <div class="col-sm-2">
                    <select name="selected-revision" current_revision="{{revision}}" class="pull-right form-control select-revision" id="testplan-revision-select">
                        {{#each revisions}}
                            <option label="{{revision}}" selected="{{isThisVersionSelected}}">{{displayRevision}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>

        <!-- Panel Body -->
        <div class="panel-body">
            <p>Please complete the following steps. </p>
            <p>After importing the <mark>Pin List</mark> and <mark>Register Table</mark>, some tests could be generated automatically.</p>
            <div class="row">
                <div class="col-sm-4">
                    <p>
                        <a href="{{pathFor 'padsList' this}}" class="btn {{padsListButtonClass}} btn-group-justified">
                            Pin List <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>                        
                    </p>
                    <P>
                        <a href="#" class="btn {{regTableButtonClass}} btn-group-justified">
                            Register Table <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </P>
                </div>
            </div>
        </div>
        <!-- Panel Footer -->
        <div class="panel-footer">
            {{#if isVersionZero}}
            <button type="button" class="btn btn-xs btn-warning release-testplan-button" data-toggle="modal" data-target=".release-form-modal">
                <span class="glyphicon glyphicon-share"></span> Release
            </button>
            {{/if}}
            <button type="button" class="btn btn-xs btn-primary export-testplan-button">
                <span class="glyphicon glyphicon-cloud-download"></span> Export
            </button>
        </div>
        <!-- This will only shown when the above button is clicked. -->
        <div class="modal fade release-form-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    {{> releaseForm}}
                </div>
            </div>
        </div>
    </div>
    <!-- End of Information Panel -->
    
    <!-- ********************* I am an invisible divider *********************** -->
    
    <!-- Test Groups Panel -->
    <div class="panel panel-default">
        <!-- Panel Heading -->
        <div class="panel-heading">
            <strong class="text-center">Tests</strong>
        </div>
        
        <!-- Panel Body -->
        <div class="panel-body">
            <p>All the tests shown here:</p>
            {{#each testgroups}}
                <p>
                    <a type="button" class="btn {{testgroupButtonClass}} btn-group-justified" href="{{pathFor 'testgroup' this}}">{{name}}</a>
                </p>
            {{/each}}

            {{#if isVersionZero}}
            <p>
                <button type="button" class="btn btn-primary btn-group-justified add-test-group-btn" data-toggle="modal" data-target=".add-test-group-modal">
                    <span class="glyphicon glyphicon-plus"></span> Add Test Group
                </button>

                <!-- This will only shown when the above button is clicked. -->
                <div class="modal fade add-test-group-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            {{> newTestGroupForm}}
                        </div>
                    </div>
                </div>
            </p>
            {{/if}}

        </div>
    </div>
</template>


<!-- Partials --> 
<template name="newTestGroupForm">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Add Test Group</h4>
    </div>
    <div class="modal-body">
        <p>Add Test Group using these templates? (Multiple Select)</p>
        <p><input type="checkbox" id="select-continuity-template" class="select-template" name="continuity"> <strong>Continuity</strong></p>
        <p><input type="checkbox" id="select-leakage-template" class="select-template" name="leakage"> <strong>Leakage</strong></p>
        <div class="row"><div class="col-sm-12"><hr /></div></div>
        <p><strong>OR</strong></p>
        <p><input type="checkbox" checked="{{customTestChecked}}" class="select-custom-test" name="custom"> <strong>Custom Test</strong></p>
        <input type="text" class="form-control custom-test-name {{hiddenOrShow}}" placeholder="name of the test">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="create-test-group-submit">Submit</button>
    </div>
</template>

<template name="releaseForm">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Releasing {{chipName}} Test Plan <strong class="text-danger">Rev {{nextRevNumber}}</strong></h4>
        <br />
        <p>* Revision number will be automatically incremented. </p>
        <p>* Released versions (any versions number > 0) are not editable, except for the release note.</p>
        <p>* Version 0 will always be the editable version based on the latested released version.</p>
    </div>
    <div class="modal-body">
        <p>Add release note...</p>
        <textarea class="form-control release-note-textarea" rows="3"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="release-testplan-submit">Submit</button>
    </div>
</template>