<template name="new_setup_row">
    <tr>
        <!--<td><input name="pad" class="input-sm setup_item_input" type="text"/></td>-->
        <td>{{> inputAutocomplete name="pad" settings=settings class="input-sm setup_item_input" placeholder="Pad Name ..."}}</td>
        <td class="bg-success">
            <select name="source_type" class="form-control">
                <option></option>
                <option>V</option>
                <option>I</option>
            </select>
        </td>
        <td class="bg-success"><input name="source_value" class="input-sm setup_item_input" type="text"/></td>
        <td class="bg-success"><input name="source_unit" class="input-sm setup_item_input" type="text"/></td>
    </tr>
</template>