<template name="setup">
    <tr>
        <td {{cellAttributes "pad"}}>
            <span>
                {{> editable_cell value=pad cell_name="pad" object_id=this._id collection="Testsetups"}}
            </span>
        </td>
        <td {{cellAttributes "source_type"}}>
            <span>
                {{> editable_cell value=source_type cell_name="source_type" object_id=this._id collection="Testsetups"}}
            </span>
        </td>
        <td {{cellAttributes "source_value"}}>
            <span>
                {{> editable_cell value=source_value cell_name="source_value" object_id=this._id collection="Testsetups"}}
            </span>
        </td>
        <td {{cellAttributes "source_unit"}}>
            <span>
                {{> editable_cell value=source_unit cell_name="source_unit" object_id=this._id collection="Testsetups"}}
            </span>
        </td>
    </tr>
</template>