<template name="new_test_row">
    <tr>
        <td class="text-center">New</td>
        {{#each headerColumns}}
            {{> inputCell}}
        {{/each}}
    </tr>
</template>

<!-- *********************  Partials ********************** -->
<template name="inputCell">
    <td class="text-center">
        {{#if useSelectBox}}
            <select name="{{name}}" class="form-control">
                <option></option>
                {{#each selectOptions}}
                    <option>{{this}}</option>
                {{/each}}
            </select>
        {{else}}
            {{#if padsAutoComplete}}
                {{> inputAutocomplete name=name settings=settings class="input-sm test_item_input" placeholder="Pad Name"}}
            {{else}}
                <input name="{{name}}" class="input-sm test_item_input" type="text" />
            {{/if}}
        {{/if}}
    </td>
</template>
