<template name="testitem">
    <tr>
        <td class="text-center">{{test_number}}</td>
        <td class="text-center">{{pad}}</td>
        <td class="text-center">{{resource}}</td>
        <td class="text-center bg-success">{{source_type}}</td>
        <td class="text-center bg-success">{{source_value}}</td>
        <td class="text-center bg-success">{{source_unit}}</td>
        <td class="text-center bg-warning">{{compliance_type}}</td>
        <td class="text-center bg-warning">{{compliance_value}}</td>
        <td class="text-center bg-warning">{{compliance_unit}}</td>
        <td class="text-center bg-info">{{measure_typ}}</td>
        <td class="text-center bg-info">{{measure_min}}</td>
        <td class="text-center bg-info">{{measure_typ}}</td>
        <td class="text-center bg-info">{{measure_max}}</td>
        <td class="text-center bg-info">{{measure_unit}}</td>
        <td><span class="glyphicon glyphicon-flash prototype-button"></span></td>
        <td><span class="glyphicon glyphicon-trash delete-row"></span></td>
    </tr>
</template>