<!-- TODO: Need to figure out to have one testitem template to support different type of testgroup -->
<template name="testitem">
    <!-- This is the template for each row -->
    <tr>
        <td class="text-center"><span>{{test_number}}</span></td>
        <!-- Registers -->
        {{#each headerRegisters this}}
            <td {{cellAttributes name object_id}}>
                 {{> editable_cell header=this revision=revision value=value cell_name=cell_name object_id=object_id collection="Testitems" chipName=chipName}}
            </td>
        {{/each}}
        
        <!-- Other settings -->
        {{#each headerColumns this}} <!-- pass the this to the headerColumns helper, and that helper is responsible to populating the attribute of "each" return item. -->
            <td {{cellAttributes name object_id}}>
                 {{> editable_cell header=this revision=revision value=value cell_name=cell_name object_id=object_id collection="Testitems" chipName=chipName}}
            </td>
        {{/each}}

        {{#if editable}}
        <!-- Row Action Buttons -->
        <td><input class="row_select_checkbox" checked="{{checked}}" type="checkbox" id="{{_id}}"/></td>
        <!-- Use checkbox then "edit" to delete rows
        <td><button class="text-danger delete-row"><span>&times;</span></button></td> -->
        {{/if}}
    </tr>
</template>
