<template name="testitem">
    <tr>
        <td>{{test_number}}</td>
        <td>{{pin}}</td>
        <td>{{resource}}</td>
        <td class="bg-success">{{resource_type}}</td>
        <td class="bg-success">{{resource_value}}</td>
        <td class="bg-success">{{resource_unit}}</td>
        <td class="bg-warning">{{compliacne_type}}</td>
        <td class="bg-warning">{{compliance_value}}</td>
        <td class="bg-warning">{{compliance_unit}}</td>
        <td class="bg-info">{{measurement_type}}</td>
        <td class="bg-info">{{measurement_min}}</td>
        <td class="bg-info">{{measurement_typ}}</td>
        <td class="bg-info">{{measurement_max}}</td>
        <td class="bg-info">{{measurement_unit}}</td>
    </tr>
</template>