<template name="dashboard">
    <!-- Account Panel -->
    <div class="panel panel-default">
        <!-- Panel Heading -->
        <div class="panel-heading">
            <strong>Account</strong>
        </div>
        <!-- Panel Body -->
        <div class="panel-body">
            <p><span class="text-primary">{{currentUserEmail}}</span> <span class="{{emailStatusClass}}">{{emailStatusText}}</span></p>
            <small>{{emailStatusInfo}}</small>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Test Plans</strong>
        </div>
        <div class="panel-body">
            {{#if isVerifiedUser}}
                {{> testplans}}

                <button type="button" class="btn btn-primary create-test-plan-btn" data-toggle="modal" data-target=".chip-name-modal">
                    Create Test Plan
                </button>
            {{else}}
                <p class="text-danger">Your email is not verified. Please verify it before accessing this content.</p>
            {{/if}}
        </div>
    </div>

    <!-- This will only show when the above button is clicked. -->
    <div class="modal fade chip-name-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                {{> newTestPlanForm}}
            </div>
        </div>
    </div>
</template>

<!-- Partials -->
<template name="newTestPlanForm">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <p class="modal-title">Enter the chip name, i.e. qCDRLP, the test plan name will be generated automatically.</p>
    </div>
    <div class="modal-body">
        <strong class="text-danger">{{chipNameFormError}}</strong>
        {{#autoForm collection="Testplans" id="chipNameForm" type="insert" validation="submitThenKeyup"}}
            <fieldset>
                {{> afQuickField name='chipName'}}
            </fieldset>
            <button class="btn btn-primary">Submit</button>
        {{/autoForm}}
        <!--
        {{> quickForm collection="Testplans" id="chipNameForm" type="insert" validation="submitThenKeyup"}} -->
    </div>
</template>

