<template name="footer">
    <nav class="navbar navbar-default navbar-fixed-bottom {{showOrHideFooter}}" role="navigation">
        <div class="container">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Edit <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" type="button" data-toggle="modal" data-target=".modify-rows-modal" >Modify <span class="badge">{{numRowsSelected}}</span></a></li>
                        <li><a href="#" class="duplicate-selected-rows">Duplicate <span class="badge">{{numRowsSelected}}</span></a></li>
                        <li><a href="#">Copy to all pads</a></li>
                        <li class="divider"></li>
                        <li><a class="delete-selected-rows label label-danger">Delete selected <span class="badge">{{numRowsSelected}}</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    
    <!-- This will only show when the "Modify" button is clicked. -->
    <div class="modal fade modify-rows-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                {{> modifyRowsModal}}
            </div>
        </div>
    </div>
</template>

<!-- Template for the Modify Modal -->
<template name="modifyRowsModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <p class="modal-title h4">Select the attributes to modify for the selected rows. </p>
        <P class="text-danger h5"><strong>{{numRowsSelected}} rows will be affected.</strong></P>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="rows">
                <div class="col-sm-6">
                    <h4>Change</h4>
                    <select name="attributes_to_modify" class="form-control attributes_to_modify" id="modify-attribues-select">
                        <!-- use the label to store the key for the object -->
                        <option label="none"></option>
                        <option label="pad">Pad</option>
                        <option label="source_type">Source Type</option>
                        <option label="source_value">Source Value</option>
                        <option label="source_unit">Source Unit</option>
                        <option label="compliance_type">Compliance Type</option>
                        <option label="compliance_value">Compliance Value</option>
                        <option label="compliance_unit">Compliance Unit</option>
                        <option label="measure_type">Measure Type</option>
                        <option label="measure_min">MIN</option>
                        <option label="measure_typ">TYP</option>
                        <option label="measure_max">MAX</option>
                        <option label="measure_unit">Measure Unit</option>
                    </select>    
                </div>
                <div class="col-sm-6">
                    <h4>To</h4>
                    {{#if attributeToModifyIsType}}
                        <select class="form-control change_attribute_value_input">
                            <option></option>
                            <option>V</option>
                            <option>I</option>
                        </select>
                    {{else}}
                        <input type="text" class="form-control change_attribute_value_input" name="value"/>     
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary modify-rows-submit-btn">Submit</button>
    </div>
</template>
