<template name="footer">
    <nav class="navbar navbar-default navbar-fixed-bottom {{showOrHideFooter}}" role="navigation">
        <div class="container">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Edit <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" type="button" data-toggle="modal" data-target=".modify-rows-modal" >Modify</a></li>
                        <li><a href="#">Duplicate</a></li>
                        <li><a href="#">Copy to all pads</a></li>
                        <li class="divider"></li>
                        <li><a class="delete-selected-rows label label-danger">Delete selected <span class="badge">{{numRowsSelected}}</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    
    <!-- This will only show when the "Modify" button is clicked. -->
    <div class="modal fade modify-rows-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                {{> modifyRowsModal}}
            </div>
        </div>
    </div>
</template>

<!-- Template for the Modify Modal -->
<template name="modifyRowsModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <p class="modal-title h4">Select the attributes to modify for the selected rows. </p>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="rows">
                <div class="col-sm-6">
                    <h4>Change</h4>
                    <select name="attributes_to_modify" class="form-control">
                        <option></option>
                        <option>Pad</option>
                        <option>Source Type</option>
                        <option>Source Value</option>
                        <option>Source Unit</option>
                        <option>Compliance Type</option>
                        <option>Compliance Value</option>
                        <option>Compliance Unit</option>
                        <option>Measure Type</option>
                        <option>MIN</option>
                        <option>TYP</option>
                        <option>MAX</option>
                        <option>Measure Unit</option>
                    </select>    
                </div>
                <div class="col-sm-6">
                    <h4>To</h4>
                    <input type="text" class="form-control" name="value"/>     
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="modify_rows_submit">Submit</button>
    </div>
</template>
